<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//assets-cdn.ziggeo.com/css/ziggeo-v1.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="//assets-cdn.ziggeo.com/js/ziggeo-v1-nojquery.js"></script>
  <script>ZiggeoApi.token = "3a6d35363c4ab51e656ac7d523d4c1d4";</script>
</head>
<body>
<%= yield %>
</body>
</html>
